Repository Ouranosinc/CanarieAPI, changes with the labels that .github/labeler.yml gives for each.
All labels: api, config, monitor, ci, doc, db, tests, ui

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - canarieapi/api.py
  - canarieapi/app_object.py
  - canarieapi/reverse_proxied.py
  - canarieapi/status.py
  - canarieapi/utility_rest.py
  - canarieapi/wsgi.py

config:
  - canarieapi/default_configuration.py
  - canarieapi/schema.py

monitor:
  - canarieapi/logparser.py
  - canarieapi/monitor.py

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

db:
  - canarieapi/database_schema.sql

tests:
  - tests/**/*
  - requirements-dev.txt

ui:
  - canarieapi/static/*
  - canarieapi/templates/*

force create the test file
  tests/test_canarieapi.py
Labels: tests

fix linting
  .pylintrc
  tests/conftest.py
  tests/test_logparser.py
Labels: ci, tests

fix ReadTimeout not handled as ConnectionError during service check
  CHANGES.rst
  canarieapi/monitoring.py
Labels: doc

fix more invalid indices on DB records lookup
  CHANGES.rst
  canarieapi/api.py
Labels: api, doc

improve test to test log extraction and reporting within API response
  canarieapi/logparser.py
  tests/config.py
  tests/test_canarieapi.py
Labels: monitor, tests

check if test setup requires recreate of dir
  tests/test_canarieapi.py
Labels: tests

fix bad method used for setup
  tests/test_canarieapi.py
Labels: tests

refactor log test to use pytest config + ensure connection close
  setup.cfg
  tests/test_logparser.py
Labels: ci, tests

fix pytest not liking quotes in config
  setup.cfg
Labels: ci

fix import unused
  tests/test_logparser.py
Labels: tests

update docker python=3.12
  CHANGES.rst
  Dockerfile
Labels: ci, doc

Bump version: 1.0.2 → 1.0.3
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

update docker python:3.12-slim + CMD JSON exec form
  CHANGES.rst
  Dockerfile
Labels: ci, doc

Bump version: 1.0.3 → 1.1.0
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

add docker build/push to github actions
  .github/workflows/deploy.yml
  CHANGES.rst
  Makefile
Labels: ci, doc

refine github tags match patterns
  .github/workflows/deploy.yml
  CHANGES.rst
Labels: ci, doc

default CI Python 3.12, drop Python 3.9/3.10, add Python 3.13/3.14, update CI deps
  .github/workflows/tests.yml
  .pylintrc
  CHANGES.rst
  canarieapi/utility_rest.py
  requirements-dev.txt
  requirements-doc.txt
  setup.py
  tests/test_canarieapi.py
Labels: api, ci, doc, tests

temporarily allow CI 3.14 failure (caused by safety/marshmallow/unify https://github.com/myint/unify/issues/26)
  .github/workflows/tests.yml
Labels: ci

drop unify to support Python 3.14 in CI and reenable it (relates to https://github.com/myint/unify/issues/26)
  .github/workflows/tests.yml
  Makefile
  canarieapi/utility_rest.py
  requirements-dev.txt
  setup.cfg
  tests/test_canarieapi.py
  tests/test_logparser.py
Labels: api, ci, tests

re-revert Python 3.14 in CI - docformatter via tokenizer broken as well (relates to https://github.com/myint/untokenize/issues/4)
  .github/workflows/tests.yml
Labels: ci

Bump version: 1.1.0 → 1.2.0
  .github/workflows/deploy.yml
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

re-enable gitleaks using prek
  .github/.gitleaks.toml
  .github/workflows/secret-scan.yml
  prek.toml
  requirements-dev.txt
Labels: ci, tests

update actions versions
  .github/workflows/deploy.yml
  .github/workflows/label.yml
  .github/workflows/tests.yml
Labels: ci

replace bump2version with bump-my-version
  .bumpversion.toml
  Makefile
  requirements-dev.txt
  setup.cfg
Labels: ci, tests

update builds in unused tox
  tox.ini
Labels: none
