Repository Ouranosinc/CanarieAPI, changes with the labels that .github/labeler.yml gives for each.
All labels: api, config, monitor, ci, doc, db, tests, ui

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - canarieapi/api.py
  - canarieapi/app_object.py
  - canarieapi/reverse_proxied.py
  - canarieapi/status.py
  - canarieapi/utility_rest.py
  - canarieapi/wsgi.py

config:
  - canarieapi/default_configuration.py
  - canarieapi/schema.py

monitor:
  - canarieapi/logparser.py
  - canarieapi/monitor.py

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

db:
  - canarieapi/database_schema.sql

tests:
  - tests/**/*
  - requirements-dev.txt

ui:
  - canarieapi/static/*
  - canarieapi/templates/*

update labeler to resolve CI execution error
  .github/workflows/label.yml
Labels: ci

revert CI labeler event
  .github/workflows/label.yml
Labels: ci

minor edits and add clarifying comments
  CHANGES.rst
  canarieapi/schema.json
Labels: doc

update base docker image to nginx:stable-bullseye
  CHANGES.rst
  Dockerfile
Labels: ci, doc

doc/typing updates
  CHANGES.rst
  canarieapi/api.py
Labels: api, doc

Bump version: 0.7.2 → 1.0.0
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

Bump version: 0.7.2 → 1.0.0
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

drop python 3.7 support + add python 3.12 support + fix werkzeug security
  .github/workflows/tests.yml
  CHANGES.rst
  requirements.txt
  setup.py
Labels: ci, doc

remove incompatible/unnecessary packages to resolve dependencies
  docs/conf.py
  requirements-doc.txt
  requirements.txt
Labels: doc

fix pylint/pylint-quotes conflict (relates to https://github.com/edaniszewski/pylint-quotes/issues/29)
  requirements-dev.txt
Labels: tests

fix rtd config
  .readthedocs.yml
Labels: ci

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

move urllib pin from docs to package requirements to provide it for all references
  requirements-doc.txt
  requirements.txt
Labels: doc

fix: requirements.txt to reduce vulnerabilities
  requirements.txt
Labels: none

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

fix: requirements-doc.txt to reduce vulnerabilities
  requirements-doc.txt
Labels: doc

fix: requirements-dev.txt to reduce vulnerabilities
  requirements-dev.txt
Labels: tests

Update requirements.txt
  requirements.txt
Labels: none

fix PARSE_LOGS config check for schema validation
  .gitignore
  CHANGES.rst
  canarieapi/schema.py
  docs/canarieapi.rst
  docs/modules.rst
Labels: config, ci, doc

fix runtime tests with more recent setuptools
  Makefile
  requirements.txt
Labels: ci

fix coverage test command
  Makefile
Labels: ci

ignore typing alias
  canarieapi/utility_rest.py
Labels: api

Bump version: 1.0.0 → 1.0.1
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

Update requirements.txt with package security fixes
  requirements.txt
Labels: none

drop python 3.8
  .github/workflows/tests.yml
  CHANGES.rst
  requirements.txt
  setup.py
Labels: ci, doc

Bump version: 1.0.1 → 1.0.2
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

fix parsing and extraction of time-zone aware datetime between logs and db (fixes #21)
  CHANGES.rst
  canarieapi/logparser.py
  tests/conftest.py
  tests/test_logparser.py
  tests/test_schema.py
Labels: monitor, doc, tests
