Repository Ouranosinc/CanarieAPI, changes with the labels that .github/labeler.yml gives for each.
All labels: api, config, monitor, ci, doc, db, tests, ui

.github/labeler.yml:

# label rules used by .github/workflows/label.yml

api:
  - canarieapi/api.py
  - canarieapi/app_object.py
  - canarieapi/reverse_proxied.py
  - canarieapi/status.py
  - canarieapi/utility_rest.py
  - canarieapi/wsgi.py

config:
  - canarieapi/default_configuration.py
  - canarieapi/schema.py

monitor:
  - canarieapi/logparser.py
  - canarieapi/monitor.py

# label 'ci' all automation-related steps and files
ci:
  - .*  # all '.<>' files
  - .github/**/*
  - ci/**/*
  - hooks/**/*
  - Makefile
  - Dockerfile*
  - setup.cfg

doc:
  - "*.rst"
  - "*.example"
  - doc/**/*
  - requirements-doc.txt

db:
  - canarieapi/database_schema.sql

tests:
  - tests/**/*
  - requirements-dev.txt

ui:
  - canarieapi/static/*
  - canarieapi/templates/*

lower max python version available on RtD
  .readthedocs.yml
Labels: ci

remove incorrect name references
  docs/conf.py
  docs/index.rst
Labels: none

Bump version: 0.4.4 → 0.5.0
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

fix cron script executions
  CHANGES.rst
  canarieapi-cron
Labels: doc

revert cron config change and fix install CanarieAPI in Dockerfile
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi-cron
Labels: ci, doc

Bump version: 0.5.0 → 0.5.1
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

stats endpoint rendered table on errors
  CHANGES.rst
  canarieapi/api.py
  canarieapi/utility_rest.py
Labels: api, doc

fix linting
  .stylelintrc.json
  canarieapi/utility_rest.py
Labels: api, ci

add tests for new error responses format
  canarieapi/api.py
  tests/test_canarieapi.py
Labels: api, tests

Bump version: 0.5.1 → 0.6.0
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

add decorator to retry db operation after init to fix missing cron table if error detected
  CHANGES.rst
  canarieapi/api.py
  canarieapi/database_schema.sql
  canarieapi/monitoring.py
  canarieapi/utility_rest.py
  setup.cfg
Labels: api, ci, doc, db

add test to validate retry init db mechanic
  tests/test_canarieapi.py
Labels: tests

add retry decorator for logparser
  canarieapi/logparser.py
Labels: monitor

avoid unnecessary database connection on static file requests
  CHANGES.rst
  canarieapi/api.py
  canarieapi/utility_rest.py
Labels: api, doc

fix lint
  canarieapi/api.py
  canarieapi/logparser.py
  canarieapi/monitoring.py
  canarieapi/utility_rest.py
Labels: api, monitor

fix missing dir from test config setup
  tests/test_canarieapi.py
Labels: tests

patch protocol typing
  canarieapi/utility_rest.py
Labels: api

fix docf
  canarieapi/api.py
  canarieapi/utility_rest.py
  tests/test_schema.py
Labels: api, tests

Bump version: 0.6.0 → 0.7.0
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

fix security issues
  CHANGES.rst
  Dockerfile
  requirements-dev.txt
  requirements.txt
Labels: ci, doc, tests

Bump version: 0.7.0 → 0.7.1
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

add option to enable disable the two cron jobs
  CHANGES.rst
  canarieapi/api.py
  canarieapi/default_configuration.py
  canarieapi/logparser.py
  canarieapi/monitoring.py
Labels: api, config, monitor, doc

patch CSS to allow platform fields on single line
  CHANGES.rst
  canarieapi/static/style.css
Labels: doc, ui

Bump version: 0.7.1 → 0.7.2
  CHANGES.rst
  Dockerfile
  Makefile
  canarieapi/__meta__.py
  setup.cfg
Labels: ci, doc

cleanup
  .gitignore
  Dockerfile
Labels: ci

make canarie-api independent of cron and proxy
  CHANGES.rst
  Dockerfile
  canarieapi-cron
  canarieapi/default_configuration.py
  canarieapi/logparser.py
  canarieapi/schema.json
  cron-entrypoint
  docker-compose.yml
  docs/usage.rst
  tests/config.py
Labels: config, monitor, ci, doc, tests

parse logs better
  canarieapi/api.py
  canarieapi/default_configuration.py
  canarieapi/logparser.py
Labels: api, config, monitor

update UI to reflect changes
  .gitignore
  CHANGES.rst
  Dockerfile
  canarieapi-cron
  canarieapi/api.py
  canarieapi/default_configuration.py
  canarieapi/logparser.py
  canarieapi/monitoring.py
  cron-entrypoint
  docker-compose.yml
Labels: api, config, monitor, ci, doc

logging updates
  canarieapi-cron
  docker-compose.yml
Labels: none

partial fix for log sharing
  canarieapi/logparser.py
  docker-compose.yml
  nginx-log.conf
Labels: monitor

make parse_logs the only optional one
  CHANGES.rst
  canarieapi/api.py
  canarieapi/default_configuration.py
  canarieapi/logparser.py
  canarieapi/monitoring.py
  canarieapi/schema.json
  canarieapi/schema.py
  docker-compose.yml
  tests/test_canarieapi.py
  tests/test_schema.py
Labels: api, config, monitor, doc, tests

style updates and cleanup code
  canarieapi/api.py
  canarieapi/logparser.py
  canarieapi/schema.py
  tests/test_canarieapi.py
  tests/test_schema.py
Labels: api, config, monitor, tests

move docker-specific files to docker directory
  Dockerfile
  docker-compose.yml
  docker/canarieapi-cron
  docker/nginx-log.conf
Labels: ci

fix: Dockerfile to reduce vulnerabilities
  Dockerfile
Labels: ci

fix doc8 linter
  CHANGES.rst
  setup.cfg
Labels: ci, doc

fix docf with latest version
  canarieapi/api.py
  canarieapi/default_configuration.py
  canarieapi/reverse_proxied.py
  canarieapi/utility_rest.py
  tests/test_canarieapi.py
Labels: api, config, tests

fix extra blank line
  canarieapi/logparser.py
Labels: monitor

review suggestions
  CHANGES.rst
  canarieapi/api.py
  canarieapi/logparser.py
  canarieapi/schema.py
  docker/docker-compose.yml
  tests/test_schema.py
Labels: api, config, monitor, doc, tests

don't modify global variables
  canarieapi/schema.py
Labels: config

update Makefile to handle default data dir
  Makefile
Labels: ci
